*,
*::before,
*::after{
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Fira Sans Condensed', sans-serif;
    --ff-secondary: 'Teko', monospace;

    --fw-reg: 400;
    --fw-bold: 700;

    --clr-light: #fff;
    --clr-dark: #383030;
    --clr-accent: coral;

    --fs-h1: 2.5rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.75rem;
    --fs-h4: 1.10rem;
    --fs-body: 1rem;
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
            0.125em 0.125em 0.25em rgba(0,0,0, 0.25);
}
@media (min-width: 800px) {
    :root {
        --fs-h1: 4.0rem;
        --fs-h2: 3.50rem;
        --fs-h3: 1.5rem;
        --fs-h4: 1.1rem;
        --fs-body: 1.25rem;
    }
}

/* General style */

body {
    background-color: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

html {
    scroll-behavior: smooth;
}

section {
    padding:  5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

strong {font-weight: var(--fw-bold);}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}

/* Button */
button {
    border-color: transparent;
    font-weight: var(--fw-bold);
}

.btn{
    display: inline-block;
    margin-top: 2em;
    padding: .5em 2.5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    /* border-radius: 15px; */
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing:  2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
    background: var(--clr-dark);
    color: var(--clr-accent);
}
.btn2{
    display: inline-block;
    border-bottom: 1em;
    margin-top: 0.25em;
    padding: .15em .5em;
    background: var(--clr-accent);
    color: var(--clr-dark);
    /* border-radius: 15px; */
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing:  2px;
    font-weight: var(--fw-reg);
    transition: transform 200ms ease-in-out;
}

.btn2:hover {
    transform: scale(1.1);
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
    background: var(--clr-dark);
    color: var(--clr-accent);
}

.btn3{
    display: inline-block;
    border-bottom: 1em;
    margin-top: 0.25em;
    padding: .15em .5em;
    background: var(--clr-dark);
    color: var(--clr-accent);
    /* border-radius: 15px; */
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing:  2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn3:hover {
    transform: scale(1.1);
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
    background: var(--clr-accent);
    color: var(--clr-dark);
}

.nav-toggle{
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}
.hambuger{
   
    display: block;
    position: relative;
}
 
.hambuger,
.hambuger::before,
.hambuger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hambuger::before,
.hambuger::after {
    content: '';
    position: absolute;
    left:  0;
    right: 0;
}

.hambuger::before {top: 6px;}
.hambuger::after {bottom: 6px;}

/* Typography */

h1, h2, h3 {
    line-height:  1.1em;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}
h2 {
    font-size: var(--fs-h2);
}
h3 {
    font-size: var(--fs-h3);
}

h4 {
    font-size: var(--fs-h4);
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: var(--clr-light);
    /* box-shadow: var(--bs); */
    position: fixed;
    z-index: 1000;
    height: 50px;
    width: 100%
}
/* 
header::before,
header::after {
    content: '';
    display: block;
    height: 50px;
    position: sticky;
}

header::before {
    top: 14px;
    box-shadow: var(--bs);
}

header > section {
    background: var(--clr-light);
    height: 14px;
    padding: 20px;
    position: sticky;
    down: 0px;
    margin-top: 50px;
    z-index: 43000;
} */



.logo{
    z-index: 2000;
    max-width: 150px;
    position: fixed;
}

button.nav-toggle{
    position: fixed;
}

.nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transform: translateX(-100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav-list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-link{
    color:inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h2);
    text-decoration: none;

}

.nav-link:hover{
    color: var(--clr-accent)
}


.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed;
}


@media screen and (min-width: 676px) {
     .nav {
      width: 400px;
    }
  }

.nav-open .hambuger {
    transform: rotate(.625turn);
}

.nav-open .hambuger::before{
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hambuger::after{
    opacity: 0;
}

/* Introduction */
.intro{
    position: relative;
  
}

.section-title{
    margin-bottom: .25em;
}

.section-title-intro {
    font-weight: var(--fw-reg);
}

.section-title-intro strong {
    display: block;
}

.section-subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section-subtitle-intro,
.section-subtitle-about {
    background: var(--clr-accent);
    padding: .25em;
    font-family: var(--ff-secondary);
    letter-spacing: .52rem;
    margin-bottom: 1em;
}

.section-subtitle-about {
    letter-spacing: .2rem;
}


.section-subtitle-work{
    color: var(--clr-accent);
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
} 

.intro{
    position: relative;
}

.intro-img{
    box-shadow: var(--bs);
}
.section-subtitle-intro{
    display: inline-block;
   
}


@media (min-width: 600px){
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        justify-self: center;
        column-gap: 1em;
        grid-template-areas: 
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
    }

    
    .intro-img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }

    .section-subtitle-intro {
        align-self: start;
        grid-column:  -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
}

/* my-services */

.my-services {
    background-color: var(--clr-dark);
    background-image: url(../img/book3.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color:  var(--clr-light);
    text-align: center;
}

.section-title-services {
    color:  var(--clr-accent);
    position: relative;
}



.section-title-services::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.service-text{
    text-align: match-parent;
}

.services {
    margin-bottom: 4em;
}

.service-brand{
    color: var(--clr-accent);
    font-size: 2.0em;
    font-weight: var(--fw-bold);
    margin-bottom: 0.25em;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        /* max-width: 1000px; */
       margin-left: auto;
       margin-right: auto;
    }

    .service + .service {
        margin-left: 2em;
    }
}

/* Services Flip card */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 3px;
  }
  .flip-card .inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1.0s;
    transform-style: preserve-3d;
  }
  .flip-card .inner .front,
  .flip-card .inner .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .flip-card .inner .front {
    background-color: #bbb;
  }
  .flip-card .inner .back {
    background-color: var(--clr-accent);
    color:var(--clr-dark);
    transform: rotateY(180deg);
  }
  .flip-card:hover .inner {
    transform: rotateY(180deg);
  }

  .tool-used{
      list-style: none;
      display: flex;
      justify-content: start;
      margin: 0.05em 0;
  }

  .tool-item {
      font-size: var(--fs-h3);
      margin: 0 .5em;
  }

  #typing{
      text-align: center;
      transform: translateY(300%);
  }


  /* Modal Box Design */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(73, 166, 233, 0.5);
    display: grid;
    place-items: center;
    transition: var(--transition);
    visibility: hidden;
    z-index: -10;
  }
  /* OPEN/CLOSE MODAL */
  .open-modal {
    visibility: visible;
    z-index: 10;
  }
  .modal-container {
    background: var(--clr-accent);
    border-radius: 10px;
    width: 90vw;
    height: 90vh;
    max-width: 620px;
    text-align: center;
    display: grid;
    place-items: center;
    position: relative;
  }
  .modal-container p {
      padding: 20px;
      margin-bottom: auto;
  }
  .modal-container h3 {
      padding-top: 15px;
  }
  .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: red;
    cursor: pointer;
    transition: all 0.3s linear;
  }
  .close-btn:hover {
    color: red;
    transform: scale(1.3);
  }
  


/* About me image */
.about-me {
    max-width: 1000px;
    margin:  0 auto;
}
.about-me-img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
                "title img"
                "subtitle img"
                "text img";
        grid-column: 2em;
    }

    .section-title-about {
        grid-area: title;
    }

    .section-subtitle-about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -2em;
        width: calc(100% + 4em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
        
    }

    .about-me-img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}

.my-work{
    background-color: var(--clr-dark);
    background-image: url(../img/live-work-create.jpg);
    background-size: cover; 
    color: var(--clr-light);
    text-align: center;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio-item {
    background: var(--clr-accent);
    margin: .25em;
}

.contact-icon{
    font-size: var(--fs-h4);
}

/* Footer */
footer {
    background: #111;

    background-image: url(../img/runaway.jpg);
    background-size: cover;
    background-blend-mode: multiply;
    color: var(--clr-accent);
    text-align: center;
    padding-top: 2.5em;
    /* padding: 2.5em 0; */
}

footer a {
    color: inherit;
    text-decoration: none;
}

.footer-link {
    font-size: var(--fs-h3);
    font-weight: var(--fw-bold);
}

.footer-link:hover,
.social-list-link:hover{
    opacity: 0.7;
}

.footer-link:hover {
    text-decoration: underline;
}

.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0 0;
    padding: 0em;
}

.social-list-item{
    margin: 0.5em;
}
.social-list-link{
    padding: .5em;
}


/* footer nav */
.footer-nav {
    margin-right: 1.75em;
}

.footer-nav-list{
    list-style: none;
    display: flex;
    justify-content: end;
    margin: 0 0;
    padding: 0em;
}

.footer-nav-item {
    margin: 0.25em;
    font-size: var(--fs-h3);
    animation: bounce 3s ease-in-out infinite;
}

@keyframes bounce {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(3);
    }
}

/* TYPE WRITE */
.typewrite{
    color: var(--clr-dark);
    text-decoration: none;
}